nav ul li
{
  float: left;
  position: relative;
  list-style: none;
}

nav ul li a
{
  display: block;
}

nav ul li ul
{
display: none;
position: absolute;
border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul
{
display: block;
top: 35px;
}

nav ul li ul li
{
width: 180px;
border-radius: 4px;
margin-top: 0px;
top: 10px;
}

nav ul li ul li a
{
padding: 15px 15px;
margin-top: 0px;
}

nav ul li ul li a:hover
{
background-color: none;
}
