
/*--------------------------------------------------------------------------------------------------------------- */

.one_quarter{display:inline-block; float: left; margin:6px; list-style:none; }

.first{margin-left:2px; clear:left;}

#gallery{position: relative; width:970px; display:block; margin-left: 280px; margin-top: -70px; margin-bottom: -60px; position: relative; z-index: 999; background-color: #FFFFFF;}
#gallery ul li:hover{transform: scale(1.2,1.2) rotateX(30deg) rotateY(30deg) translate(-20px); }
#gallery figure figcaption{display:block; clear:both;}
#gallery ul{padding-inline-start: 0px; }
#gallery li{margin-bottom:30px;}


#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 160px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: rgb(109, 9, 9);
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 999;
  }
  #back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #333;
    color: #fff;
  }


  /* Animations */
  .btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  /* zoomIn */


  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
  }
  /* zoomOut */


  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }
