
/*--------------------------------------------------------------------------------------------------------------- */

.one_quarter{display:inline-block; float: left; margin:6px; list-style:none; }

.first{margin-left:2px; clear:left;}

#gallery{position: relative; width:970px; display:block; margin-left: 280px; margin-top: -70px; margin-bottom: -60px; position: relative; z-index: 999; background-color: #FFFFFF;}
#gallery figure figcaption{display:block; clear:both;}
#gallery ul{padding-inline-start: 0px; }
#gallery li{margin-bottom:30px;}


