
/*--------------------------------------------------------------------------------------------------------------- */

.one_quarter{display:inline-block; float:left; margin:15px; list-style:none; }

.first{margin-left:190px; clear:left;}

#gallery{display:block;  margin-bottom:50px;}
#gallery figure figcaption{display:block; clear:both;}
#gallery li{margin-bottom:10px;}

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row2{color:#979797; background-color:#FFFFFF;}
.row2 a{color:#FF9900; background-color:#FFFFFF;}

.col3{color:#666666;background-color:#FFFFFF;}
